/* Homepage */

.homepage-header {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--dark-red);
    text-align: center;
}

.homepage-header-hovered {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--burnt-orange);
    text-align: center;
}

